# get id and hash at my.telegram.org, then run create-session.ts with empty session to log in and get TG_SESSION
API_ID=
API_HASH=
TG_SESSION=

# In dev use ../clips, in prod use something like /var/lib/neppie-clips/
CLIPS_DIR="../clips"

# channel name with the clips
CHANNEL_NAME=
